{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  {% include 'components/header.html.twig' %}

<div class="header">
  <div class="header-content">
    <div>  
      <h1>La solution de covoiturage adaptée à vos besoins</h1>
    </div>
    {% include 'components/form_search_carpooling.html.twig' %}
    </div>
 </div>



  <div class="presentation">
    <section class="conteneur-auto">
      <img src="{{ asset('images/covoiturage-ecolo.jpg') }}" alt="Covoiturage écologique" class="image-gauche">
      <div class="texte-droite">
        <h2>LE COVOITURAGE PRATIQUE ET ECOLOGIQUE</h2>
        <p>EcoRide est la plateforme dédiée aux trajets en 
          covoiturage, alliant économie et respect de l’environnement. Trouvez ou proposez un trajet en quelques clics, réduisez vos frais de déplacement et votre empreinte carbone. Ensemble, 
          roulons vers un avenir plus durable et connecté.</p>
      </div>
    </section>
  
    <section class="conteneur-ecologie">
      <div class="texte-gauche">
        <h3>DEPLACEZ-VOUS POUR LA PLANETE</h3>
        <p>Avec EcoRide, voyagez tout en prenant soin de l’environnement. 
          En partageant vos trajets, vous contribuez à réduire les émissions de CO₂ et à désengorger les routes. Adoptez une solution de transport responsable 
          et faites un geste concret pour la planète.</p>
      </div>
      <img src="{{ asset('images/ecologique.jpg') }}" alt="Protéger la planete" class="image-droite">
    </section>
  </div>

  {% include 'components/footer.html.twig' %}

{% endblock %}
