{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}

{% block body %}

    {% include 'components/dark-header.html.twig' %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/my_project/src/Controller/ResetPasswordController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/my_project/templates/reset_password/index.html.twig</code></li>
    </ul>
</div>

    {% include 'components/footer.html.twig' %}

{% endblock %}
