{% extends 'base.html.twig' %}

{% block title %}Covoiturages{% endblock %}

{% block body %}

    {% include 'components/header.html.twig' %}

<div class="header">
  <div class="header-content">
    <div>  
      <h1>La solution de covoiturage adaptée à vos besoins</h1>
    </div>
      {% include 'components/form_search_carpooling.html.twig' %}
    </div>
 </div>

  <div class="Avantages">
    <section class="covoiturage">
      <img src={{ asset('images/Car.png') }} alt="Covoiturage 100%  automobile">
        <h2>Covoiturage 100% automobile</h2>
        <p>La plateforme spécialisée dans les trajets en voiture. EcoRide se concentre uniquement sur le covoiturage automobile, 
            offrant une expérience optimale pour conducteurs et passagers.</p>
    </section>
    <section class="demarche-eco">
      <img src={{ asset('images/Plant.png') }} alt="Démarche_écologique">
        <h3>Démarche écologique</h3>
        <p>Pour des trajets respectueux de l’environnement. 
            Réduisez votre empreinte carbone en partageant vos trajets avec EcoRide, 
            une solution qui soutient la planète.</p>
    </section>
    <section class="Simplicité">
      <img src={{ asset ('images/Checkmark.png')}} alt="Simplicité_d'utilisation">
        <h4>Simplicité d’utilisation</h4>
        <p>Un covoiturage rapide et facile. L’interface intuitive d'EcoRide vous permet de trouver 
            et proposer des trajets en quelques clics, rapidement et sans effort.</p>
    </section>
  </div>

    {% include 'components/footer.html.twig' %}

{% endblock %}
