{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block body %}

    {% include 'components/dark-header.html.twig' %}

    <div class="title-contact">
        <h1>CONTACTEZ-NOUS !</h1>
    </div>
    <div class="contact-container-contact">
          <form action="mailto:support@ecoride.com" method="post" enctype="text/plain" class="contact-form">
              <div class="form-group-contact">
                  <label for="name">Nom</label>
                  <input type="text" id="name" name="name" placeholder="Votre nom" required>
              </div>
              <div class="form-group-contact">
                  <label for="first-name">Prénom</label>
                  <input type="text" id="first-name" name="first-name" placeholder="Votre Prénom" required>
              </div>
              <div class="form-group-contact">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" placeholder="Votre email" required>
              </div>
              <div class="form-group-contact">
                  <label for="message">Message</label>
                  <textarea id="message" name="message" placeholder="Votre message" rows="5" required></textarea>
              </div>
              <div class="form-group-contact">
                  <button type="submit">Envoyer</button>
              </div>
          </form>
      </div>

    {% include 'components/footer.html.twig' %}

{% endblock %}