<footer class="footer">
    <div class="footer-container">
        <div class="logo-footer">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/ecoride.png') }}" alt="Ecoride logo">
            </a>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Protection des données</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="entreprise">
            <ul>
                <li><a href="mailto:lakhdari.fares@outlook.fr">lakhdari.fares@outlook.fr</a></li>
                <li><a href="#">Aide et Contact</a></li>
            </ul>
        </div>
    </div>
</footer>